body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.header {
    display: flex;
    flex: 1 1 10%;
    flex-direction: row;
    border: 1px solid #a597aa;
    background: #BBACC1;
    justify-content: center;
    align-items: center;


}

/* Encompasses Main and Sidebar */
.middle { 
    display: flex;
    flex: 1 1 80%;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    background: rgb(170, 170, 170);
    border: 1px solid rgb(139, 139, 139);
    align-items: center;
}

.tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-rounds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* Encompasses tophalf and bottomhalf */
.main {
    display: flex;
    flex: 1 1 75%;
    flex-direction: column;
    height: 80vh;
}

.tophalf {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid #cd797e;
    background: #EB8A90;
    justify-content: center;
    align-items: center;
}

.bottomhalf {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px solid #215c81;
    background: #2D82B7;
    justify-content: center;
}

#player-move {
    text-align: center;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options button {
    flex: 1;
    margin: 10px;
}



.footer {
    display: flex;
    flex: 1 1 10%;
    flex-direction: column;
    border: 1px solid #a597aa;
    background: #BBACC1;
    justify-content: center;
    align-items: center;
}